.e-learning .box-white{
  padding: 50px 35px;
}
.e-learning .doc-row{
  margin-bottom: 70px;
}
.e-learning .documents{
  background-color: #ab7df6;
}
.e-learning .videos{
  background-color: #26c1c9;
}
.e-learning .archive{
  padding: 105px 35px 95px;
}
.e-learning .archive p{
  margin: 0;
}
.e-learning .archive .title{
  margin-bottom: 24px;
}
.e-learning .doc-btn{
  margin-top: 60px;
}
.e-learning .view-all{
  color: #a8c6df;
}
.e-learning .instruction p{
  margin: 0;
  text-align:left;
}
.e-learning .btn-arrow {
  padding: 6px 35px 6px 17px;
}
.e-learning .btn-arrow i {
  right: 12px;
  top: 11px;
}
.e-learning .btn-total-doc{
  background-color: #a8c6df;
  padding: 5px 7px 5px 7px;
  margin-left: 10px;
}
.e-learning .flex-archive{
  display: flex;
  justify-content: space-around;
}
.e-learning .flex-block{
  width: 100%;
  padding-left: 20px;
}
.e-learning .img-bg{
  width: 100%;
  height: auto;
  min-height: 150px;
  overflow: hidden;
  background-color: #c2c2c2;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.e-learning .img-title{
  padding: 20px 18px 18px;
  background-color: #f3f3f3;
  border-bottom: 4px solid #ab7df6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e-learning .flex-text {
  padding: 20px 15px 0;
}
.e-learning .flex-text .title{
  margin: 0 0 15px;
  min-height: 42px;
}
.e-learning .flex-subscribe{
  padding-left: 15px;
}
.e-learning .flex-subscribe .view , 
.e-learning .flex-subscribe .comments{
  margin-right: 7px;
}
.e-learning .flex-subscribe .view i, 
.e-learning .flex-subscribe .comments i {
  display: inline-block;
  width: 11px;
  margin-right: 6px;
  position: relative;
  top: -1px;
}
.e-learning .flex-subscribe .view i{
  width: 16px;
}
.e-learning .video-row .flex-archive:last-child{
  margin-top: 15px;
}
.e-learning .video-row .flex-subscribe{
  padding: 0;
}
.e-learning .video-row .img-title{
  padding: 12px 15px 8px;
  border-bottom: 4px solid #26c1c9;
}
.e-learning .video-row .img-title h5{
  min-height: 45px;
}
.e-learning .video-row .img-bg{
  min-height: 125px;
  background-color: #464646;
}
.e-learning .training h3,
.e-learning .training-video h3{
  margin-bottom: 30px;
}
.e-learning .training .flex-block{
  padding-right: 30px;
  padding-left: 0;
  margin-bottom: 70px;
}
.e-learning .training .flex-block:last-child{
  padding-right: 0;
}
.e-learning .training .doc-row .img-bg{
  border-bottom: 4px solid #ab7df6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.e-learning .training .flex-text{
  padding: 20px 0 0;
}
.e-learning .training .doc-row{
  margin-bottom: 0;
}
.e-learning .box-white.training{
  padding-top: 30px;
}
.e-learning .box-white.training-video{
  padding: 50px;
}
.e-learning .training-video .video-block{
  margin-top: 40px;
}
.e-learning .training-video .video-block:first-child{
  margin-top: 0;
}
.e-learning .training-video .flex-block{
  margin-bottom: 30px;
}
.e-learning .training-learning{
  padding: 70px 120px 100px 100px;
}
.e-learning .training-learning .box-bg{
  height: 200px;
  background-color: #c2c2c2;
  margin-bottom: 46px;
}
.e-learning .training-learning h2{
  margin-bottom: 30px;
}
.e-learning .training-learning .steps{
  margin-top: 70px;
}
.e-learning .training-learning .steps h5{
  margin-bottom: 15px;
}
.e-learning .training-learning .training-right{
  padding: 70px 0 15px 50px;
}
.e-learning .training-learning .img-main{
  height: 200px;
  background-color: #c2c2c2;
  margin-bottom: 15px;
}
.e-learning .img-main-container{
  display: flex;
  justify-content: space-between;
}
.e-learning .img-main-container .img-main-block{
  width: 32%;
}
.e-learning .img-main-block p{
  margin: 5px 0 0 ;
}
.e-learning .img-main-container .img-small{
  width: 100%;
  height: 70px;
  background-color: #c2c2c2;
}
.e-learning .about-banking{
  padding: 80px 120px 160px;
}
.e-learning .about-banking .line{
  width: 100%;
  height: 1px;
  background-color: #c2c2c2;
  margin: 10px 0 65px;
}
.e-learning .about-banking h2{
  margin-bottom: 40px;
}
.e-learning .about-banking p{
  margin-bottom: 40px;
}
.e-learning .about-banking .logo{
  display: inline-block;
  width: 75px;
  margin-top: -6px;
  height: auto;
  position: relative;
  margin-right: 10px;
}

.e-learning .about-banking .about span{
  vertical-align: middle;
}
.e-learning .about-banking .about p{
  margin: 20px 0 90px;
}
.e-learning .about-banking .img-block{
  height: 250px;
  background-color: #c2c2c2;
}
.e-learning .about-banking .left-block{
  padding-left: 10%;
}
.e-learning .about-banking .right-block{
  padding-right: 10%;
}
.e-learning .about-banking .opportunities:last-child{
  margin-top: 40px;
}
.e-learning .about-banking .opportunities p{
  margin-bottom: 25px;
}
