.profile h3{
  margin-bottom: 30px;
}
.top-green-border{
  border-top: 4px solid #68e7a6;
}
.profile .box{
  width: 100%;
  margin-bottom: 17px;
}
.profile .user-info-block{
  padding: 25px 18px 25px;
}
.profile .photo-block{
  display: inline-block;
  width: 100px;
}
.profile .photo-block p{
  margin: 7px 0 0;
}
.profile .user-name{
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}
.profile .user-name p{
  margin-bottom: 0;
}
.profile .user-name .name{
  margin-bottom: 5px;
}
.profile .user-name .title{
  display: inline-block;
  width: 100px;
}
.profile .user-information{
  padding: 15px 25px 15px;
}
.profile .user-information h5{
  margin-bottom: 10px;
}
.profile .col-info{
  font-size: 0;
  margin-bottom: 5px;
  margin-left: 20px;
}
.profile .col-info div{
  display: inline-block;
}
.user-information .width40{
  width: 40%;
}
.user-information .title-block{
  max-width: 120px;
  position: relative;
}
.user-information .progress-line-block{
  max-width: 150px;
}
.user-information .width20{
  width: 20%;
}
.user-information .percent{
  margin-left: 35px;
}
.user-information .progress-line{
  display: block;
  background: -moz-linear-gradient(45deg, rgba(154,171,171,1) 0%, rgba(193,214,224,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(154,171,171,1)), color-stop(100%, rgba(193,214,224,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(154,171,171,1) 0%, rgba(193,214,224,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(154,171,171,1) 0%, rgba(193,214,224,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(154,171,171,1) 0%, rgba(193,214,224,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(154,171,171,1) 0%, rgba(193,214,224,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1d6e0', endColorstr='#9aabab',GradientType=1 ); /* ie6-9 */
  height: 4px;
  margin-top: -7px;
  position: relative;
}
 .user-information .col-info-all .progress-line{
  background: -moz-linear-gradient(45deg, rgba(27,132,179,1) 0%, rgba(40,168,223,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(27,132,179,1)), color-stop(100%, rgba(40,168,223,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(27,132,179,1) 0%, rgba(40,168,223,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(27,132,179,1) 0%, rgba(40,168,223,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(27,132,179,1) 0%, rgba(40,168,223,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(27,132,179,1) 0%, rgba(40,168,223,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28a8df', endColorstr='#1b84b3',GradientType=1 ); /* ie6-9 */
}
.user-information .col-info-all .fa{
  left: -17px;
  position: absolute;
  top: 4px;
  color: #a8c6df;
  font-size: 14px;
}

.profile .get-discount{
  margin-bottom: 50px;
  padding: 10px;
  position: relative;
  background: -moz-linear-gradient(45deg, rgba(40,168,224,1) 0%, rgba(27,133,178,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(40,168,224,1)), color-stop(100%, rgba(27,133,178,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(40,168,224,1) 0%, rgba(27,133,178,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(40,168,224,1) 0%, rgba(27,133,178,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(40,168,224,1) 0%, rgba(27,133,178,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(40,168,224,1) 0%, rgba(27,133,178,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b85b2', endColorstr='#28a8e0',GradientType=1 ); /* ie6-9 */
}
.profile .get-discount .discount-num{
  position: absolute;
  top: 13px;
  left: 20%;
}
.profile .get-discount .discount-text{
  width: 120px;
  margin: 0 auto;
}
.profile .get-discount .close-btn{
  position: absolute;
  width: 13px;
  right: 10px;
  top: 2px;
}
.profile .get-discount .fa{
  right: 50%;
  position: absolute;
  top: -15px;
  color: #a8c6df;
  font-size: 14px;
}

.profile .info-about-account{
  padding: 22px;
  background-color: #d8e5ee;
}
.profile .info-about-account p{
  margin-bottom: 0;
}
.profile .info-about-account .inputs-block{
  margin: 20px 0;
}
.profile .info-about-account .input-group-addon{
  background-color: #fff;
  min-width: 130px;
  border-color: #fff;
  color: #000;
}
.profile .info-about-account .form-control{
  border-left: 0px;
  border-color: #fff;
  color: #898989;
}
.profile .info-about-account .input-group{
  max-width: 420px;
  margin-bottom: 2px;
}
.profile .inputs-block .input-group:last-child .input-group-addon,
.profile .inputs-block .input-group:last-child .form-control{
  border-top-left-radius: 0px;
}

.profile .inputs-block .input-group:last-child .form-control{
  border-top-right-radius: 0px;
}

.profile .inputs-block .input-group:first-child .input-group-addon,
.profile .inputs-block .input-group:first-child .form-control{
  border-bottom-left-radius: 0px;
}

.profile .inputs-block .input-group:first-child .form-control{
  border-bottom-right-radius: 0px;
}